body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cor_1: #934a37;
  --cor_2: #f1ad3f;
  --cor_3: #28a7a5;
  --cor_4: #f9f886;
  --cor_5: #fff5f0;
  --font_1: eldes cordel;
  --font_2: arial regular;
}
